
<% if user_signed_in? && current_user.admin? %>
	<%= render 'form' %>
<% end %>
<div class="row">
	<div class="col s6">
		<div>Sección Recolectados desde <i class="fab fa-facebook-square fa-2x" style="color:#385898;"></i></i>&nbsp;Facebook</a></div>
	</div>
	<div class="col s12">
		<% @eventosadmin.each do |evento| %>
			 <%= render 'evento', evento: evento %>
		<% end %>
	</div>
</div>
<div class="row">
    <div class="col s12 center">
		<%= link_to '<i class="material-icons">keyboard_backspace</i>'.html_safe, :back, class: 'btn-floating btn-large cyan pulse' %>
	</div>
</div>
